[Unit]
Description=Start tornado web server with web-hls app
After=network.target

[Service]
Type=simple
User=hlshoster
ExecStart=/path/VENV/bin/python /path/run_server.py --db=/path/to/db --host='127.0.0.1' --port=8888
Restart=on-failure

[Install]
WantedBy=multi-user.target

